---


<h1 align='center'><b>ASSIGNMENT NO.16</b><h1>

---

<h4 align='justify'><b>Question1. Write a function that stutters a word as if someone is struggling to read it. The
first two letters are repeated twice with an ellipsis ... and space after each, and then the
word is pronounced with a question mark?.
Examples</b></h4>

stutter(&quot;incredible&quot;) ➞ &quot;in... in... incredible?&quot;

stutter(&quot;enthusiastic&quot;) ➞ &quot;en... en... enthusiastic?&quot;

stutter(&quot;outstanding&quot;) ➞ &quot;ou... ou... outstanding?&quot;

Hint :- Assume all input is in lower case and at least two characters long.

In [ ]:
def stutter(string):
  print(string[:2]+'.'*3+string[:2]+'.'*3+string[::]+'?')

stutter("incredible")
stutter("enthusiastic")
stutter("outstanding")

in...in...incredible?
en...en...enthusiastic?
ou...ou...outstanding?

<h4 align='justify'><b>Question 2.Create a function that takes an angle in radians and returns the corresponding
angle in degrees rounded to one decimal place.
Examples</b></h4>

radians_to_degrees(1) ➞ 57.3

radians_to_degrees(20) ➞ 1145.9

radians_to_degrees(50) ➞ 2864.8

In [ ]:
def rad_deg(a):
  b = round(a*57.2958, 1)
  print(f"radians_to_degree ({a}) is {b}")

In [ ]:
rad_deg(1)
rad_deg(20)
rad_deg(50)

radians_to_degree (1) is 57.3
radians_to_degree (20) is 1145.9
radians_to_degree (50) is 2864.8

<h4 align='justify'><b>Question 3. In this challenge, establish if a given integer num is a Curzon number. If 1 plus
2 elevated to num is exactly divisible by 1 plus 2 multiplied by num, then num is a Curzon
number.
Given a non-negative integer num, implement a function that returns True if num is a Curzon
number, or False otherwise.
Examples</b></h4>

is_curzon(5) ➞ True

2 ** 5 + 1 = 33

2 * 5 + 1 = 11

33 is a multiple of 11

is_curzon(10) ➞ False

2 ** 10 + 1 = 1025

2 * 10 + 1 = 21

1025 is not a multiple of 21

is_curzon(14) ➞ True

2 ** 14 + 1 = 16385

2 * 14 + 1 = 29

16385 is a multiple of 29

In [ ]:
def is_curzon(N):
  if N > 0:
    a = 2**N + 1
    print(f"The Power term of a is {a}")
    b = 2*5 + 1
    print(f"The Product term of b is {b}")

    if a % b == 0:
      print(f"The given number {N} is curzon number.")
    else:
      print(f"The given number {N} is not curzon number.")
  else:
    print("Please Enter another number")

In [ ]:
is_curzon(5)
print("*"*25)
is_curzon(11)
print("*"*25)
is_curzon(-1)

The Power term of a is 33
The Product term of b is 11
The given number 5 is curzon number.
*************************
The Power term of a is 2049
The Product term of b is 11
The given number 11 is not curzon number.
*************************
Please Enter another number

<h4 align='justify'><b>Question 4.Given the side length x find the area of a hexagon.
Examples</b></h4>

area_of_hexagon(1) ➞ 2.6

area_of_hexagon(2) ➞ 10.4

area_of_hexagon(3) ➞ 23.4

In [ ]:
import math
def area_of_hexagon(N):
  print(f"The Area of Hexagon with side length {N} is {round(3*(math.sqrt(3))*(N**2), 1)}")

In [ ]:
area_of_hexagon(1)
area_of_hexagon(2)
area_of_hexagon(3)

The Area of Hexagon with side length 1 is 5.2
The Area of Hexagon with side length 2 is 20.8
The Area of Hexagon with side length 3 is 46.8

<h4 align='justify'><b>Question 5. Create a function that returns a base-2 (binary) representation of a base-10
(decimal) string number. To convert is simple: ((2) means base-2 and (10) means base-10)
010101001(2) = 1 + 8 + 32 + 128.
Going from right to left, the value of the most right bit is 1, now from that every bit to the left
will be x2 the value, value of an 8 bit binary numbers are (256, 128, 64, 32, 16, 8, 4, 2, 1).
Examples</b></h4>

binary(1) ➞ &quot;1&quot;

1*1 = 1

binary(5) ➞ &quot;101&quot;

1*1 + 1*4 = 5

binary(10) ➞ &quot;1010&quot;

1*2 + 1*8 = 10

In [ ]:
# Python program to convert a
# number from any base to decimal

# To return value of a char.
# For example, 2 is returned
# for '2'. 10 is returned for 'A',
# 11 for 'B'
def val(c):
	if c >= '0' and c <= '9':
		return ord(c) - ord('0')
	else:
		return ord(c) - ord('A') + 10;

# Function to convert a number
# from given base 'b' to decimal
def toDeci(str,base):
	llen = len(str)
	power = 1 #Initialize power of base
	num = 0	 #Initialize result

	# Decimal equivalent is str[len-1]*1 +
	# str[len-2]*base + str[len-3]*(base^2) + ...
	for i in range(llen - 1, -1, -1):
		
		# A digit in input number must
		# be less than number's base
		if val(str[i]) >= base:
			print('Invalid Number')
			return -1
		num += val(str[i]) * power
		power = power * base
	return num
	
# Driver code
strr = "1"
base = 2
print('Decimal equivalent of', strr,
			'in base', base, 'is',
				toDeci(strr, base))

Decimal equivalent of 1 in base 2 is 1