---
<h1 align='center'><b>PROGRAMMING ASSIGNMENT_20</b></h1>

---

<h4 align='justify'><b>Question1
Create a function that takes a list of strings and integers, and filters out the list so that it
returns a list of integers only.
Examples</b></h4>

filter_list([1, 2, 3, &quot;a&quot;, &quot;b&quot;, 4]) ➞ [1, 2, 3, 4]

filter_list([&quot;A&quot;, 0, &quot;Edabit&quot;, 1729, &quot;Python&quot;, &quot;1729&quot;]) ➞ [0, 1729]

filter_list([&quot;Nothing&quot;, &quot;here&quot;]) ➞ []

In [ ]:
def filter_list(List):
  list1 = []
  for i in List:
    if type(i) == int:
      list1.append(i)
    else:
      list1 = list1
  return list1

print(filter_list([1, 2, 3, "a", "b", 4]))
print(filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]))
print(filter_list(["Nothing", "here"]))

[1, 2, 3, 4]
[0, 1729]
[]

<h4 align='justify'><b>Question2
Given a list of numbers, create a function which returns the list but with each element&#39;s
index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the
number at index 1, etc...
Examples</b></h4>

add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]

add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]

add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

In [ ]:
def add_indexes(List):
  list1 = []
  for i in range(len(List)):
    list1.append(List[i] + i)
  return list1

print(add_indexes([0, 0, 0, 0, 0]))
print(add_indexes([1, 2, 3, 4, 5]))
print(add_indexes([5, 4, 3, 2, 1]))

[0, 1, 2, 3, 4]
[1, 3, 5, 7, 9]
[5, 5, 5, 5, 5]

<h4 align='justify'><b>Question3
Create a function that takes the height and radius of a cone as arguments and returns the
volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.
Examples</b></h4>

cone_volume(3, 2) ➞ 12.57

cone_volume(15, 6) ➞ 565.49

cone_volume(18, 0) ➞ 0

In [ ]:
def cone_volume(h, r):
  return 3.1415*(r**2)*(h/3)

#h = height of the cone
#r = radius of the cone

print(f"The Volume of cone is {round(cone_volume(3,2),2)}")
print(f"The Volume of cone is {round(cone_volume(15,6),2)}")
print(f"The Volume of cone is {round(cone_volume(18,0),2)}")

The Volume of cone is 12.57
The Volume of cone is 565.47
The Volume of cone is 0.0

<h4 align='justify'><b>Question4
This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one
has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the
sequence.
Examples</b></h4>

triangle(1) ➞ 1

triangle(6) ➞ 21

triangle(215) ➞ 23220

<h4 align='justify'><b>Question5
Create a function that takes a list of numbers between 1 and 10 (excluding one number) and
returns the missing number.
Examples</b></h4>

missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5

missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10

missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

In [ ]:
def missing_num(List):
  for i in range(1,11):
    if i not in List:
      return i
print(missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]))
print(missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]))
print(missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]))

5
10
7